@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";



$bg_color:#F7FBFC;
$blue : #388DA8;
$first_color : #3E5055;
$second_color: #8B8E91;
$paragraph_color : #8B8E91;
$hover_color : #F7FBFC;
$light-green : #20C997;

$custom-colors: (
  "bg_color": $bg_color,
  "first_color" : $first_color,
"blue": $blue,
"second_color": $second_color,
"paragraph_color" : $paragraph_color
);








$theme-colors: map-merge($custom-colors , $theme-colors);



$spacer : 1vh;

@for $i from 1 through 100 {
  $spacers: map-merge($spacers, ($i : $spacer * $i) );
} 

